body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: rgb(173, 171, 171);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header .navbar {
    
    text-align: center;
    padding: 20px;
    height: 50px;
    width: 100%;
}

.header .navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 50px; 
    border: 1px solid transparent;
    padding: 10px; 
    transition: 0.3px;
}

.header .navbar a:hover {
    background-color: blue;
    border: 0.5px solid;
}


.header .contact {
    width: 20%;
    height: 250px;
    margin-left: 10px;
    text-align: center;
    float: right;
}

.header .contact-form p {
    color: black;
    margin-left: 20px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
.header .contact-form .text-input{
    background: white;
    color: black;
    padding: .9rem 1.4rem;
    margin-left: 20px;
    margin-bottom: 10px;
    line-height: 1.5rem;
    border: none;
}

.header .contact-form .btn-big {
    font-size: large;
    border: black;
    cursor: pointer;
    color: black; 
    float: left;
    line-height: 1.5rem;
    margin-left: 80px;
}

.header .contact p {
    text-decoration: none;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.header .contact a {
    color: blue;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header .contact a:hover {
    cursor: pointer;
    color: red;
}

.footer-container{
    height: 50px;
    width: 100%;
    color: white;
    position: relative;
    background: gray;
}

.footer-container .footer-bottom {
    background: gray;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
    color: white;
    cursor: default;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    
}


