body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    background-image: url("../images/top_en.png");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar {
    
    text-align: center;
    padding: 20px;
    height: 100px;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 50px; 
    border: 1px solid transparent;
    padding: 10px; 
    transition: 0.3px;
}

.navbar a:hover {
    background-color: blue;
    border: 0.5px solid;
}

.footer-container{
    height: 50px;
    width: 100%;
    color: white;
    position: relative;
    background: gray;
}

.footer-bottom {
    background: gray;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
    color: white;
    cursor: default;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    
}

.contact-content p {
    text-decoration: none;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.contact-content a {
    color: blue;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
.contact-content a:hover{
    cursor: pointer;
    color: red;
}