html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: blue;
    color:white;
    text-align: center;
}

.header {
    background-image: url("../images/top_en.png");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header .navbar {
    text-align: center;
    padding: 20px;
}

.header .navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 50px; 
    border: 1px solid transparent;
    padding: 10px; 
    transition: 0.3px;
}

.header .navbar a:hover {
    background-color: blue;
    border: 0.5px solid;
}

.footer{
    background: rgb(189, 187, 187);
    height: 400px;
    width: 100%;
    color: white;
    position: relative;
}

.footer .footer-content {
    height: 400px;
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
    border: 1px solid white;
}

.footer .footer-content h2 {
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    color: white;
    text-align: center;
    margin-top: 0px;
}

.footer .footer-content .profile .contact .span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .profile img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 2px solid white;
    margin-top: 1px;
    margin-left: 30px;
}

.footer .footer-content .profile img:hover {
    border: 2px solid black;
}

.footer .footer-content .profile .name .desc {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: white;
    cursor: pointer;
    text-align: center;
}

.footer .footer-content .profile .span {
    display: block;
    font-size: small;
}
.footer .footer-content .about ul a {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    display: block;
    
}

.footer .footer-content .about a:hover {
    color: blue;
    margin-left: 15px;
}


.footer .footer-content .skills img {
    height: 100px;
    width: 100px;
    border: 2px solid transparent;
    margin-left: 10px;
}

.footer .footer-content .skills img:hover {
    border: 2px solid black;
    transition: 0.3s;
}

.contact-content {
    width: 20%;
    height: 250px;
    margin-left: 10px;
    text-align: center;
}




.footer .footer-bottom {
    background: gray;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
    color: white;
    cursor: default;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
}

.toggle {
    width: 30px;
    padding: 10px;
    float: right;
    background: gray;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
    display: none;
}

.toggle span {
    width: 100%;
    height: 4px;
    background: white;
    display: block;
    margin-bottom: 3px;
}

@media(max-width: 768px) {
    .toggle {
        display: block;
        position: fixed;
    }
    .navbar {
        display: none;
    }
    .navbar a {
        display: block;
        text-align: center;
        padding: 10px;
    }
}

